// Navigation code here

.navigation{
    .width(100%,100rem);
    margin:auto;
    background:@waterloo;
    
    .flex(column);

    h1{
        font-size:4rem;
        padding:1rem;
    }
    nav{
        display:flex;
        justify-content: space-evenly;

        a{
            padding:1rem 1.6rem;
            font-size:1.6rem;
            text-decoration: none;
            color:black;
        }
    }

}