// Navigation code here

.navigation{
    max-width:1000px;
    margin:auto;
    background:#ddd;
    width:100%;
    display:flex;
    flex-direction:column;
    align-content:center;
    align-items: center;

    h1{
        font-size:4rem;
        padding:1rem;
    }
    nav{
        display:flex;
        justify-content: space-evenly;

        a{
            padding:1rem 1.6rem;
            font-size:1.6rem;
            text-decoration: none;
            color:black;
        }
    }

}